.App {
  text-align: center;
  color: #fff;
}

.postForm {
    display: flex;
    align-items:center;
    flex-direction: column;
}

.postsCard {
    padding: 1rem 0;
}

article {
    border: 1px solid rgb(179, 174, 174);
    background-color: rgb(40, 37, 37);
    color: white;
    height: 16rem;
    width: 16rem;
    border-radius: 1.5rem;
    padding: 0.5rem;
}

.posts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.postCredit {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
}

.postBtn {
    border: 1px solid rgb(179, 174, 174);
    border-radius: 1.25rem;
    height: 2rem;
    width: 10rem;
    color: white;
    transition: 0.5s ease-in-out;
    margin-top: 0.5rem;
}

.postBtn:hover {
    background-color: rgb(62, 6, 118);
}
