.App {
  text-align: center;
}

.postForm {
    display: flex;
    align-items:center;
    flex-direction: column;
}

article {
    border: 1px solid rgb(222, 214, 214);
    background-color: rgb(48, 46, 46);
    color: white;
    height: 16rem;
    width: 16rem;
}

.posts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.postCredit {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;

}

